html {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#counter {
  font-size: 2rem;
}
